/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    width: 100%;
    margin: 0%;
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    padding: 0;
    line-height: 1.2;
}

ol, ul,li {
    display: flex;
    gap: 0.5em;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}
h3{
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    margin-bottom: 1em;
}
h2{
    font-size: 1em;
    font-weight: normal;
}
h4, p{
    margin:0.25em 0em;
}
/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/
.menu{
    margin:1em 10vw;
    display: flex;
    text-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.menu__header{
    display: inline-flex;
    align-items: center;
    gap: 0.75em;
}
.image{
    max-width: 22px;
    max-height: 22px;
}
.menu__list{
    justify-content: space-between;
    gap: 2em;
}

.menu__list__item:last-child a{
    font-weight:bolder;
}
.menu__list__item__contato{
    display: none;
}
/*Sección Title*/
.title__div{
    display: flex;
    margin:0em 10vw;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
    padding: 2em 0em;
}
.title__container{
    margin-bottom: 1.5em;
}
.title__profile{
    max-width:368px;
    width: 33%;
    height: auto;
}
.title__bio{
    font-weight: bold;
    font-size: 3.25em;
    word-spacing: 0.05em;
    margin: 0em;
}
.title__subsection{
    font-size: 1.375em;
    font-weight:100;
    color: #464646;
    align-self: stretch;
}
.title__network{
    padding: 0%;
    gap: 2.25em;
    font-size: 1em;
}

/*Sección About*/

.about, .academic{
    margin: none;
    background-color: #EAF2FD;
}
.about__container{
    max-width: 55%;
    padding: 4em 0em;
    margin:0em 10vw;
}
.about__title{
    font-size: 2em ;
    font-weight:bold;
    margin: 0;
    margin-bottom: 0.5em;

}
.about__paragraph{
    margin: 1em 0em;
    width: 95%;
    font-weight: normal;
}

/* Skills, Hobbies*/

.skills, .hobbies{
    margin:2em 10vw;
    display: flex;
    flex-flow: column wrap;
    text-wrap: wrap;
    align-items: flex-start;
    padding-bottom: 3em;
}
.skills__title, .hobbies__title, .academic__title{
    align-self: center;
}
.skills__line, .hobbies__line{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1em;
    justify-content: space-between;
}
.skills__box ul, .hobbies__box ul{
    width:11em;
    min-width: 9.75em;
    height: 10.87em;
    min-height: 7.37em;
    display:flex;
    padding: 0%;
    justify-content: center;
    margin: 0;
    align-items: center;
    align-content: center;
    box-sizing: content-box;
    flex-direction: column;
    background-color: #ffffff;
}

/* Experiencia Académica*/
.academic{
    display: flex;
    flex-flow: column wrap;
    padding: 3em 0em;
}
.academic__courses{
    margin:2em 10vw;
    display: flex;
    flex-basis: 30%;
    text-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}
.academic__courses__list{
    padding: 0%;
    
}
.academic__courses__box ul{
    display: flex;
    flex-flow:column nowrap ;
    padding:0;
    gap: 0;
    
}

.academic__courses__item__img{
    background-color: #ffffff;
    box-sizing: content-box;
    border-width: 4em 5.5em;
    border-style: solid;
    border-color: #ffffff;
    gap: 0;
    
}
.academic__courses__item__title {
    font-weight: bolder;
    font-size: 1.2em;
}
/* experiencia*/

section.experience{

}

/*Contacto*/

section.formcontato{

}

/*footeer*/

section.footer{
   
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (max-width: 1020px) {
    body{
        margin: 2em;
    }
/* Menú */
    .menu{
        width: 95%;
        display: flex;
        justify-content: space-between;
        gap: 2.5em;
    }
    .menu__list{
        display: none;
    }
    .menu__list__item__contato{
        display: contents;
        font-weight: bold;
    }
/*title*/
    .title{
        margin:1em;
    }
    .title__div{
        display: flex;
        justify-content: space-between;
        gap: 1em;
        justify-content: flex-start;
    }
    .title__profile{
        min-width: 160px;
    }
/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/
.experience{
    display: none;
}
}

/*Mobile*/
@media (max-width: 480px) {
    body{
        margin: 1em;
    }
/*Menu*/
    .menu{
        width: 95%;
        margin-left:0.75em;
        display: flex;
        gap: 2em;
    }
    .menu__list{
        display: none;
    }
    .menu__list__item__contato{
        font-weight: normal;
    }
/*Titulo*/  
    .title__div{
        display: flex;
        flex-direction: column;
    }
    .title{
        margin:1em;
        align-items: center;
    }
    .title__div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1em;
        justify-content: center;
    }
    .title__profile{
        width: 60%;
        min-width: 98px;
    }
/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/
    .experience{
        display: none;
    }
/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}